<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Park'd App</title>
  </head>
  <body>
    <h1>Welcome to Park'd!</h1>
    <p>
      Park'd is the app for the modern valet experience. No more lost paper
      tickets and unnecessary waiting for your car. We'll get you Park'd.
    </p>
    <a href="/auth/sign-up">
      <button>Create Account</button>
    </a>
  </body>
</html>
