<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Park'd App</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
  </head>
  <%- include('./partials/_navbar.ejs') %>
  <body class="index-body">
    <% if (user) { %>
    <h1>Welcome to Park'd, <%= user.fullName %>!</h1>
    <p>
      <a href="/auth/sign-out">
        <button>Sign Out</button>
      </a>
    </p>
    <% } else { %>
    <h1>Welcome to Park'd!</h1>
    <p>
      Park'd is the app for the modern valet experience. No more lost paper
      tickets and unnecessary waiting for your car. We'll get you Park'd soon.
      <br>
      <br>
    <a href="/auth/sign-in">
      <button>Sign In</button>
    </a>
    <br>
    <br>
    <a href="/auth/sign-up">
      <button>Create Account</button>
    </a>
  </p>
  <% } %>
  </body>
</html>
