@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.garage-cars-body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.garage-cars-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 90%;
}

.park-a-new-car-link {
  padding: 10px;
  background-color: rgb(34, 164, 147);
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 1.1em;
  padding: 2px 25px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.park-a-new-car-link:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(34, 164, 147);
  border-color: rgb(34, 164, 147);
}

ul {
  list-style: none;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul > a {
  text-decoration: none;
  color: white;
  width: 50%;
  background-color: rgb(252, 72, 12);
  border-radius: 30px;
  padding: 10px 20px;
  margin: 15px 0;
  font-weight: bold;
  text-align: center;
}

ul > a:hover {
  background-color: white;
  color: rgb(252, 72, 12);
}

.cars-index {
  display: flex;
  align-items: center;
  text-decoration: none;
}
