.navbar {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  padding: 5px 20px;
  justify-content: space-between;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}

#nav-header {
  color: rgb(34, 164, 147);
  margin: 0;
}
.authlink {
  text-decoration: none;
  margin: 0 15px;
  color: rgb(34, 164, 147);
  font-weight: bold;
  cursor: pointer;
}

.authlink:hover {
  cursor: pointer;
  color: orange;
}
