<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Park a New Car</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add Car to be Park'd</h1>
    <form action="/users/<%= user._id %>/cars" method="POST">
      <label for="valetName">Valet:</label>
      <br />
      <input type="text" name="valetName" id="valetName" />
      <br />
      <br />
      <label for="fullName">Customer Name:</label>
      <br />
      <input type="text" name="fullName" id="fullName" />
      <br />
      <br />
      <label for="phoneNumber">Phone Number:</label>
      <br />
      <input type="text" name="phoneNumber" id="phoneNumber" />
      <br />
      <br />
      <label for="carMake">Make:</label>
      <br />
      <input type="text" name="carMake" id="carMake" />
      <br />
      <br />
      <label for="carModel">Model:</label>
      <br />
      <input type="text" name="carModel" id="carModel" />
      <br />
      <br />
      <label for="carColor">Color:</label>
      <br />
      <input type="text" name="carColor" id="carColor" />
      <br />
      <br />
      <label for="carType">Type:</label>
      <br />
      <br />
      <select name="carType" id="carType">
        <option value="Sedan">Sedan</option>
        <option value="Coupe">Coupe</option>
        <option value="SUV">SUV</option>
        <option value="Van">Van</option>
        <option value="Pickup">Pickup</option>
        <option value="Other">Other</option>
      </select>
      <br />
      <br />
      <label for="carYear">Year:</label>
      <br />
      <input type="text" name="carYear" id="carYear" />
      <br />
      <br />
      <label for="licensePlate">License Plate:</label>
      <br />
      <input type="text" name="licensePlate" id="licensePlate" />
      <br />
      <br />
      <label for="parkingLocation">Parking Spot:</label>
      <br />
      <input type="text" name="parkingLocation" id="parkingLocation" />
      <br />
      <br />
      <label for="damageStatus">Vehicle Damage?:</label>
      <input type="text" name="damageStatus" id="damageStatus" />
      <br />
      <br />
      <label for="damageStatusNotes">If damaged, please describe below:</label>
      <br />
      <textarea name="damageStatusNotes" id="damageStatusNotes"></textarea>
      <br />
      <br />
      <label for="parkingStatus">Parking Status:</label>
      <br />
      <br />
      <select name="parkingStatus" id="parkingStatus">
        <option value="Staged">Staged</option>
        <option value="Parked">Parked</option>
        <option value="Returned">Returned</option>
      </select>
      <br />
      <br />
      <label for="paidStatus">Paid?:</label>
      <input type="text" name="paidStatus" id="paidStatus" />
      <br />
      <br />
      <button type="submit">Park Car</button>
    </form>
  </body>
</html>
